<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'form-horizontal'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'%>
        </div>

        <div class="form-group">
            <%= f.label :fullname %><br />
            <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.submit "Sign up" %>
        </div>
        <% end %>

        <div class="row">
            <div class="col-md-12">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
