<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password ?", new_password_path(resource_name) %><br />
<% end %>
