<div class="row">
  <div class="col-md-12">
    <%= form_for [@project, @board, @sprint] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sprint_goal %>
        <%= f.text_area :sprint_goal, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
