<div class="row">
  <div class="col-md-12">
    <%= form_for [@project, @board, @sprint] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :duration %>
        <%= f.collection_select :duration, @duration, :days, :name, {include_blank: "Custom"}, {:id => "duration",:class => "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :start %>
        <%= f.date_field :start, as: :date_picker, id: "start-sprint", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :end %>
        <%= f.date_field :end, id: "end-sprint", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sprint_goal %>
        <%= f.text_area :sprint_goal, class: "form-control", rows: "8" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
