<div id="main-project">
  <div class="row">
    <div class="col-md-12">
      <% if role_view(session[:role]) %>
        <%= link_to new_project_path, class: "btn btn-default" do %>
          <%= fa_icon "plus-circle" %><span>Create project</span>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <div class="row">
        <% @project.each do |project| %>
          <div class="col-md-3">
            <div class="project-card">
              <h5><%= project.name %></h5>
              <%= link_to project_path(project), class: 'btn btn-sm btn-default' do %>
                <%= fa_icon "arrow-right" %>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
