<div id="main-project">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for @project do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autocomplete: 'off', id: 'name-project', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :key %>
          <%= f.text_field :key, autocomplete: 'off', id: 'key-project', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Create', class: 'btn btn-custom' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
