<div id="main-project">
  <div class="row">
    <div class="col-md-12">
      <% if role_view(session[:role]) %>
        <%= link_to new_project_path, class: 'btn btn-default' do %>
          <%= fa_icon "plus-circle" %><span>Create board</span>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <div class="row">
        <% @boards.each do |board| %>
          <div class="col-md-3">
            <div class="board-card">
              <h5><%= board.name %></h5>
              <%= link_to project_board_path(board), class: 'btn btn-sm btn-default' do %>
                <%= fa_icon "arrow-right" %>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <% if role_view(session[:role]) %>
      <div class="col-md-6">
        <hr>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <%= form_for [@project, @person] do |f| %>
              <div class="form-group">
                <%= f.label :user_id %>
                <%= f.collection_select :user_id, @userlist, :id, :email, {include_blank: true}, {class: "form-control"} %>
              </div>
              <div class="form-group">
                <%= f.submit "Add member", class: "btn btn-custom" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered table-hover">
              <thead>
              <tr class="text-uppercase">
                <th>Email</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <%= empty_table(@member, 2) %>
              <% @member.each do |member| %>
                <tr>
                  <td><%= member.user.email %></td>
                  <td>
                    <%= link_to project_person_path(@project, member), class: "btn btn-xs btn-danger btn-custom-danger", method: :delete, data: {confirm: "Are you sure?"} do %>
                      <%= fa_icon("times") %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
