<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div id="main-login">
      <div id="login-logo">
        <%= image_tag ("/assets/jira-copy/jira-home.png") %>
      </div>

      <% if flash.alert.present? %>
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= flash.alert %>
      </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {id: "login-form"}) do |f| %>
        <div class="form-group-custom">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group-custom">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= render "devise/shared/links/link_forgot" %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-login', style: 'width:100%' %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= render "devise/shared/links/link_signup" %>
        </div>
      </div>

    </div>
  </div>
</div>
