<%= form_for [@project, @board, @card], :html => {id: "form-issue", enctype: "multipart/form-data"} do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label "Status" %>
        <%= f.collection_select :list_id, @list, :id, :title, {}, {:class => "form-control text-uppercase"} %>
      </div>
      <div class="col-md-6">
        <%= f.label "Issue" %>
        <%= f.collection_select :type_issue_id, @typeissue, :id, :name, {}, {:class => "form-control text-uppercase"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.cktext_area :description, class: 'someclass', ckeditor: {language: 'en', toolbar: 'mini'} %>
  </div>

  <div class="form-group">
    <%= f.label :attachment, style: "display:block;" %>
    <% if @card.attachment.present? %>
      <%= image_tag(@card.attachment.to_s, width: "260px", height: "140px", style: "display:block;margin-bottom:10px;") %>
    <% end %>
    <%= f.file_field :attachment %>
  </div>

  <div class="form-group">
    <%= f.label :priority_id %>
    <%= f.collection_select :priority_id, @priority, :id, :name, {}, {:class => "form-control text-uppercase"} %>
  </div>

  <div class="form-group">
    <%= f.label "Send to" %>
    <%= f.collection_select :sprint_id, @sprint, :id, :name, {:include_blank => 'Backlog'}, {:class => "form-control text-uppercase"} %>
  </div>

  <div class="form-group">
    <%= f.label "Assign to" %>
    <%= f.collection_select :assign_to, @people, :id, :name_with_initial, {:include_blank => true}, {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "Due Date" %>
    <%= f.date_field :duedate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-issue' %>
  </div>
<% end %>