<div id="main-sprint">
  <% if @sprint.present? %>
    <% @sprint.each do |sprint| %>
      <div class="main-sprint">
        <div class="row">
          <div class="col-md-6">
            <h5><%= sprint[:name] %></h5>
          </div>
          <div class="col-md-6">
            <% if role_view(session[:role]) %>
              <div class="row">
                <div class="col-md-12">
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <% if show_sprint_start(sprint[:id], @sprint_first[:id], @sprint_first[:status]) %>
                          <%= link_to "Start", sprint_start_project_board_sprint_path(@project_id, @board_id, @sprint_first[:id]), class: "btn btn-default btn-custom-sprint" %>
                        <% end %>
                      </li>
                      <li class="dropdown">
                        <button type="button" name="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <%= fa_icon("gear") %>
                        </button>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Edit sprint", edit_project_board_sprint_path(@project_id, @board_id, sprint) %></li>
                          <li><%= link_to "Delete sprint", project_board_sprint_path(@project_id, @board_id, sprint), method: :delete, data: {confirm: "Are you sure?"} %></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped" style="margin-top:15px;">
              <%= empty_table(sprint[:cards], 4) %>
              <% sprint[:cards].each do |card| %>
                <tr>
                  <td>
                    <label class="label label-warning"><%= card.title_issue.upcase %></label>
                  </td>
                  <td><%= card.title %></td>
                  <td>
                    <label class="label label-primary"><%= card.title_priority.upcase %></label>
                  </td>
                  <td>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <%= fa_icon("ellipsis-h") %>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <!-- # edit issue -->
                              <%= link_to project_board_edit_issue_path(params[:project_id], params[:id], card) do %>
                                Edit card
                              <% end %>
                            </li>
                            <li>
                              <!-- # destroy issue -->
                              <%= link_to project_board_card_path(params[:project_id], params[:id], card), method: :delete, data: {confirm: "Are you sure ?"} do %>
                                Delete card
                              <% end %>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>

<div id="main-backlog">
  <div class="row">
    <div class="col-md-6">
      <h5>Backlog</h5>
    </div>
    <div class="col-md-6">
      <% if role_view(session[:role]) %>
        <%= link_to "Create sprint", project_board_sprints_path(@project_id, @board_id), class: "btn btn-primary", style: "float:right;width:140px;", method: :post %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped" style="margin-top:15px;">
        <%= empty_table(@backlog, 2) %>
        <% @backlog.each do |backlog| %>
          <tr>
            <td>
              <label class="label label-warning"><%= backlog.title_issue.upcase %></label>
            </td>
            <td><%= backlog.title %></td>
            <td>
              <label class="label label-primary"><%= backlog.title_priority.upcase %></label>
            </td>
            <td>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <%= fa_icon("ellipsis-h") %>
                    </a>
                    <ul class="dropdown-menu" style="margin-top:7px;">
                      <li>
                        <!-- # edit issue -->
                        <%= link_to project_board_edit_issue_path(params[:project_id], params[:id], backlog) do %>
                          Edit card
                        <% end %>
                      </li>
                      <li>
                        <!-- # destroy issue -->
                        <%= link_to project_board_card_path(params[:project_id], params[:id], backlog), method: :delete, data: {confirm: "Are you sure ?"} do %>
                          Delete card
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Create issue", issue_project_board_path(@project_id, @board_id), style: "width:140px;", class: "btn btn-info" %>
    </div>
  </div>
</div>