<div class="row">
  <div class="col-md-12">

    <% @sprint.each do |sprint| %>
      <div class="main-sprint">
        <div class="row">
          <div class="col-md-6">
            <h4><%= sprint.name %></h4>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li style="margin-right:10px;">
                      <button type="button" class="btn btn-success">
                        Start sprint
                      </button>
                    </li>
                    <li class="dropdown">
                      <button type="button" name="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= fa_icon("ellipsis-h") %>
                      </button>
                      <ul class="dropdown-menu" style="margin-top:7px;">
                        <li><a href="#">Edit sprint</a></li>
                        <li><%= link_to "Delete sprint", project_board_sprint_path(@project_id, @board_id, sprint), method: :delete, data: {confirm: "Are you sure?"} %></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped" style="margin-top:15px;">
              <tr>
                <td class="text-center">-</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= link_to "Create issue", issue_project_board_path(@project_id, @board_id), class: "btn btn-info" %>
            <div id="form-create-issue" style="width:350px;margin-top:10px;display:none;">
              <!-- type-issue -->
              <select class="form-control" name="" style="width:80px;float:left;">

              </select>


              <!-- choose-sprint -->
              <div class="" style="margin-left:10px;float:left;">
                <!-- what-need-tobe-dones -->
                <input type="text" class="form-control" name="" value="" placeholder="what need to be done ?" style="width:200px;">
                <select class="form-control" name="" style="margin-top:10px;width:200px;">
                  <option value="0">backlog</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>

    <!-- ################################################################## -->

    <div class="main-backlog" style="padding-bottom:100px;font-family: 'Open Sans', sans-serif;">
      <div class="row">
        <div class="col-md-6">
          <h4>Backlog</h4>
        </div>
        <div class="col-md-6">
          <%= link_to "Create sprint", project_board_sprints_path(@project_id, @board_id), class: "btn btn-primary", style: "float: right;", method: :post %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped" style="margin-top:15px;">
            <% @backlog.each do |backlog| %>
              <tr>
                <td><label class="label label-warning"><%= backlog.title_issue.upcase %></label></td>
                <td><label class="label label-primary"><%= backlog.list.title.upcase %></label></td>
                <td><%= backlog.title %></td>
                <td><label class="label label-primary"><%= backlog.title_priority.upcase %></label></td>
                <td><%= backlog.duedate.strftime("%m/%d/%Y") %></td>
                <td>
                  <%= link_to edit_project_board_card_path(params[:project_id], params[:id], backlog), class: "btn btn-xs btn-default" do %>
                    <%= fa_icon("pencil") %>
                  <% end %>

                  <%= link_to issue_project_board_path(params[:project_id], params[:id], backlog), class: "btn btn-xs btn-default", method: :delete, data: {confirm: "Are you sure ?"} do %>
                    <%= fa_icon("trash") %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= link_to "Create issue", issue_project_board_path(@project_id, @board_id), class: "btn btn-info" %>

          <div id="form-create-issue" style="width:350px;margin-top:10px;display:none">
            <!-- type-issue -->
            <select class="form-control" name="" style="width:80px;float:left;">
              <% @typeissue.each do |issue| %>
                <option value=""><%= issue.name %></option>
              <% end %>
            </select>


            <!-- choose-sprint -->
            <div class="" style="margin-left:10px;float:left;">
              <!-- what-need-tobe-dones -->
              <input type="text" class="form-control" name="" value="" placeholder="what need to be done ?" style="width:200px;">
              <select class="form-control" name="" style="margin-top:10px;width:200px;">
                <option value="0">Backlog</option>
                <% @sprint.each do |sprint| %>
                  <option value=""><%= sprint.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>