#form-issue {
  font-family: 'Open Sans', sans-serif;
  label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  input, select {
    border-radius: 0;
  }
  .btn-issue {
    width: 100%;
  }
  .btn-issue:hover {
    color: white;
    background-color: #0c65ff;
  }
}

// temporary style
.nav > .nohover > a:any-link {
  text-decoration: none;
  background-color: #5cb85c;
}

// temporary style
.nav > .new > a:any-link {
  padding: 5px;
  margin-right: 12px;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

// default all change value , don't use this . only for temporary
* {
  font-family: 'Open Sans', sans-serif;
}

