/* it's login desain kanban-scrum */
#main-login {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  input {
    border-radius: 0;
  }
  a:any-link {
    text-decoration: none;
  }
  .alert {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 12px;
  }
}

#login-logo {
  img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 14px;
  }
}

#login-form {
  max-width: 380px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  label {
    font-size: 13px;
    letter-spacing: 1px;
  }
  a {
    font-size: 12px;
    float: right;
  }
  input[type='checkbox'] {
    float: left;
    margin-top: 2px;
  }
  input[type='checkbox'] + label {
    height: 17px;
    float:left;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
  }
  input[type="submit"]:hover {
    color: white;
    background-color: #0c65ff;
  }
}

// Don't have an account ? Sign up
#login-form + .row {
  font-size: 12px;
  text-align: center;
}

.form-group-custom {
  margin-bottom: 30px;
}

.btn-login, .btn-issue, .btn-custom {
  background-color: #2782ff;
  text-transform: uppercase;
  color: white;
  transition: ease background-color .5s;
}

.empty_table {
  text-transform: uppercase;
  font-size: 11px;
  font-style: italic;
}



