#main-project {
  font-family: 'Open Sans', sans-serif;
  .project-card {
    background-color:#007fff;
    padding:5px 0 80px 0;
    margin-top:10px;
  }
  span {
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 10px;
  }
  label {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  input {
    border-radius: 0;
  }
  input[type="submit"] {
    font-size: 14px;
    letter-spacing: 1px;
  }
  input[type="submit"]:hover, input[type="submit"]:focus {
    color: white;
    background-color: #0c65ff;
  }
  form {
    margin-top: 10px;
    label {
      font-size: 13px;
    }
    select {
      border-radius: 0;
    }
    input[type="submit"] {
      font-size: 13px;
    }
  }
  table tr:first-child {
    font-size: 13px;
  }
  table a {
    border-radius: 0;
  }
}

.project-card, .board-card {
  background-color:#007fff;
  padding:5px 0 80px 0;
  margin-top:10px;
  h5 {
    color:white;
    padding-left:10px;
  }
  a {
    float: right;
    margin: 40px 10px;
  }
}
