#main-sprint {
  h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .dropdown-menu {
    margin-top: 5px;
  }

  .dropdown > a {
    padding: 0;
    color: darkslategray;
  }

  .dropdown > a:hover, .dropdown > a:focus {
    background-color: transparent;
  }

  .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-menu li {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .btn-custom-sprint {
    padding: 6px 12px;
    margin-right: 10px;
    width: 140px;
  }
}

#main-backlog {
  h5 {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .dropdown > a {
    padding: 0;
    color: darkslategray;
  }

  .dropdown > a:hover, .dropdown > a:focus {
    background-color: transparent;
  }
}