<!DOCTYPE html>
<html>
  <head>
    <title>kanban scrum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <%= image_tag ("/assets/jira-copy/jira-home.png"), width: '22px', height: '22px'%>
          </a>
        </div>


          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px 15px;">
                    <%= image_tag ("/assets/avatar/male-avatar.png"), width: '30px', height: '30px'%>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="#"></a></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
                  </ul>
              </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if @project_id && @board_id %>
              <li><%= link_to 'Backlog', backlog_project_board_path(@project_id, @board_id) %></li>
              <li><%= link_to 'Active Sprints', project_board_lists_path(@project_id, @board_id) %></li>
            <% end %>
          </ul>

          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div> -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb" style="background-color:white;padding:0;">
            <li>
              <%= link_to "Home", projects_path %>
            </li>
            <li><a href="#"></a></li>
            <li class="active"></li>
          </ul>
        </div>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
